@import 'attributes.scss';
body {
	background-color: $grey;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;

	.wrapper {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		background-color: $white;

		.container {
			margin: 0 7rem;
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.header {
	height: auto;
}

[class^="heading"] {
	@include text-upper-centered;
}

.logo {
	display: block;
	position: relative;
	left: 12%;
	z-index: 2;
}

.icon-menu {
	display: none;
}

.heading-1 {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;

	.main {
		width: 100%;
		margin-top: 0;
		padding-top: 2.5rem;
		font-size: 2rem;
	}
	.secondary {
		width: 100%;
		font-weight: normal;
		margin: 0;
		line-height: 2;
		font-size: $font-reduced;
	}
}

.impression {
	flex-basis: 48%;
	display: flex;
	flex-direction: column;
	border-right: 0.15rem solid $grey;
	box-sizing: border-box;
}

.present {
	box-sizing: border-box;
	flex-basis: 50%;
	display: flex;
	flex-direction: column;

	.text {
		padding-left: 4vw;
	}
}

.heading-2,
.radio,
.heading-3,
.text {
	flex-grow: 1;
	height: 5rem;
	box-sizing: border-box;
}

.heading-2,
.heading-3 {
	padding-top: 2rem;
}

.input-radio,
.input-checkbox {
	display: none;
}

.radio-button {
	display: flex;
}

.radio-button::before {
	@include size (3rem, 3rem);
	content: "";
	display: block;
	border-radius: 50%;
	background-color: $grey;
	float: left;
	min-width: 3rem;
}

.input-radio:checked+.radio-button::before {
	@include size (3rem, 3rem);
	min-width: 3rem;
	display: block;
	box-sizing: border-box;
	background-color: $black;
	border: 1rem solid $grey;
}

.radio-label-text {
	padding-top: 1rem;
	padding-left: 1rem;
	font-weight: bold;
}

.text label {
	@include size (5rem, 2rem);
	padding-top: 1rem;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: $font-reduced;
}

.input-text {
	width: 75%;
	margin-left: 0.3rem;
	@media screen and (max-width: 270px) {
		width: 55vw;
	}
}

.input-name {
	width: 83%;
}

.input-text,
.input-phone,
.input-email {
	font-weight: bold;
	background-color: $grey;
	border: none;
	height: 3rem;
}

::placeholder {
	color: $placeholder;
	opacity: 1;
}

.input-text,
.input-phone,
.input-email,
.text-describe {
	font-family: 'PT Sans', sans-serif;
	padding-left: 1rem;
}

/*row-2*/

.stripe,
.heading-4 {
	flex-basis: 32%;
	box-sizing: border-box;
	height: 5rem;
}

.sights-heading {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;

	.for-sights {
		flex-basis: 30%;
	}
	.sights {
		flex-basis: 34%;
		min-width: 16rem;
		height: 3rem;
		align-self: center;
	}
}

.heading-4 {
	margin: 0 1vw;
	font-size: 1rem;
	padding-top: 2rem;
}

.sights {
	padding-top: 1rem;
	margin: 0;
	@media screen and (max-width: 270px) {
		font-size: 0.9rem;
	}
}

.stripe::before {
	@include size (100%, 0.15rem);
	content: "";
	background-color: $grey;
	display: block;
	position: relative;
	top: 50%;
}

/* row-3, phone & mail */

.phone {
	flex-basis: 50%;
	box-sizing: border-box;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;

	.error {
		flex-basis: 100%;
		margin: 0;
		font-size: 0.7rem;
		color: $red-text;
		text-align: left;
		text-transform: none;
		padding-left: 6rem;
		padding-bottom: 0.3rem;
	}

	label {
		text-transform: uppercase;
		font-size: $font-reduced;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-basis: 100%;

		span {
			flex-basis: 17%;
		}
	}
}

.mail {
	@extend .phone;
	padding-top: 1rem;

	label {
		text-transform: uppercase;
		font-size: $font-reduced;
		flex-basis: 100%;

		.input-email {
			width: 46%;
		}
		span {
			flex-basis: 33%;
			text-align: end;
		}
	}
}

.phone-logo:after,
.mail-logo:after {
	@include background-centered;
	@include size (3rem, 3rem);
	content: "";
	background-color: $grey;
	display: block;
	margin-left: 0;
	background-image: $logo-phone;
	border-radius: 0.2rem;
	margin-left: 0.1rem;
}

.mail-logo::after {
	background-image: $logo-mail;
}

.required::after {
	content: '*';
}

/* row-4  checkbox*/

.row-4 {
	display: flex;
	flex-basis: 100%;

	.checkbox {
		flex-basis: 25%;
		box-sizing: border-box;

		.checkbox-button {
			display: flex;

			.checkbox-label-text {
				font-weight: bold;
				padding-top: 1rem;
				padding-left: 1rem;
			}
		}
	}
}

.checkbox-button::before {
	content: "";
	@include size (3rem, 3rem);
	background-color: $grey;
	display: block;
	border-radius: 0.3rem;
	margin: 0;
}

.checkbox label {
	margin-top: 1rem;
	display: flex;
}

.input-checkbox:checked+.checkbox-button::before {
	background-image: $checkbox-tick;
	@include background-centered;
}

/* textarea */

.textarea {
	flex-basis: 100%;
}

.text-describe {
	width: 97%;
	height: 5rem;
	background-color: $grey;
	border: none;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	color: $black;
	padding-top: 1rem;
	font-family: Arial;
	font-size: 13px;
}

/* row-5 button*/

.row-5 {
	display: flex;
	flex-basis: 100%;

	div {
		@include size (50%, 10rem);
	}
}

.button-review {
	@include text-upper-centered;
	@include size (100%, 4rem);
	background-color: $background-button;
	color: $white;
	margin-top: 3rem;
	padding: 0;
	border: none;
}

.obligatory-field {
	@include text-upper-centered;
	text-align: right;
	box-sizing: border-box;
	position: relative;
	top: 4.5rem;
	margin: 0;
	font-size: 0.9rem;
	font-weight: normal;
}

/* footer */

.footer {
	display: flex;
	flex-basis: 100%;

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.academy {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.visit,
.links,
.academy {
	flex-basis: (100%/3);
	height: 5rem;
}

.visit p {
	@include footer-texts;
	font-weight: bold;
	font-size: 1.2rem;
}

.academy p {
	display: flex;
	@include footer-texts;
	font-size: 0.9rem;
	text-align: right;
	position: static;
}

.twitter {
	@include footer-links;
	background-image: $icon-twitter;
}

.facebook {
	@include footer-links;
	background-image: $icon-facebook;
	margin: 0 1vw;
}

.youtube {
	@include footer-links;
	background-image: $icon-youtube;
}

.academy-logo::after {
	@include background-centered;
	@include size (2rem, 2rem);
	content: "";
	background-image: $icon-htmlacademy;
	display: block;
	box-sizing: border-box;
}

/* menu */

.menu {
	display: flex;
	flex-wrap: wrap;

	.item {
		flex-grow: 1;
		@include size (20%, 3rem);
		@include text-upper-centered;
		font-weight: normal;
		background-color: $white;
		padding-top: 1rem;
		box-sizing: border-box;

		.subitems {
			@include text-upper-centered;
			font-weight: normal;
			display: none;
			max-width: 240px;

			div {
				background-color: $white;
				height: 3rem;
				padding-top: 1rem;
			}
		}
	}
	.item-3 {
		padding-top: 0;
	}
}

.item:hover .subitems {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 240px;
}

.heading-text {
	width: auto;
	color: $white;
	font-size: 5em;
	font-weight: 800;
	height: 360px;
	padding-top: 7rem;
	box-sizing: border-box;
	@include background-centered;
	background-image: $background-header;
	background-position: bottom;
}

.item a:hover,
.subitems div a:hover {
	color: $blue-hover;
	cursor: pointer;
}

.item a:active {
	color: $item-active;
}

.subitems div a:active {
	color: $subitem-active;
}

/* hover, active */

.checkbox-button:hover:before,
.input-checkbox:checked+.checkbox-button:hover:before,
.input-phone:hover,
.input-email:hover,
.input-text:hover,
.radio-button:hover::before,
.text-describe:hover {
	background-color: $input-hover;
}

.radio-button:active:before,
.checkbox-button:active:before {
	background-color: $input-active;
}

.input-checkbox:checked+.checkbox-button:active:before {
	background-color: $input-active;
	background-image: $checkbox-tick-active;
}

.input-radio:checked+.radio-button:hover:before {
	border: 1rem solid $input-hover;
	background-color: $black;
}

.input-radio:checked+.radio-button:active:before {
	background-color: $radio-checked;
	border: 1rem solid $input-active;
}

.input-phone:focus,
.input-text:focus,
.input-email:focus {
	background-color: $white;
	outline: $input-hover solid 0.3rem;
}

.input-unfilled, .input-unfilled:focus {
	outline: #F08080 solid 0.3rem
}

.text-describe:focus {
	outline: $input-hover solid 0.3rem;
	background-color: $white;
}

.academy-logo:hover::after {
	background-image: $icon-htmlacademy-hover;
}

.twitter:hover,
.facebook:hover,
.youtube:hover,
.button-review:hover {
	background-color: $footer-hover;
	cursor: pointer;
}

.twitter:active,
.facebook:active,
.youtube:active,
.button-review:active {
	background-color: $footer-active;
}

.twitter:active {
	background-image: $icon-twitter-active;
}

.facebook:active {
	background-image: $icon-facebook-active;
}

.youtube:active {
	background-image: $icon-youtube-active;
}

.button-review:active {
	color: $button-active;
	cursor: pointer;
}

.academy-logo:active::after {
	background-image: $icon-htmlacademy-active;
}

@import 'style970';
@import 'style480';
@import 'style270';

.input-text {
	@media screen and (max-width: 270px) {
		width: 55vw;
	}
}