/* colors */
/* images */
body {
  background-color: #f2f2f2;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0; }
  body .wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff; }
    body .wrapper .container {
      margin: 0 7rem;
      display: flex;
      flex-wrap: wrap; }

.header {
  height: auto; }

[class^="heading"] {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; }

.logo {
  display: block;
  position: relative;
  left: 12%;
  z-index: 2; }

.icon-menu {
  display: none; }

.heading-1 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%; }
  .heading-1 .main {
    width: 100%;
    margin-top: 0;
    padding-top: 2.5rem;
    font-size: 2rem; }
  .heading-1 .secondary {
    width: 100%;
    font-weight: normal;
    margin: 0;
    line-height: 2;
    font-size: 0.8rem; }

.impression {
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  border-right: 0.15rem solid #f2f2f2;
  box-sizing: border-box; }

.present {
  padding-left: 5vw;
  -ms-padding-left: 2vw;
  box-sizing: border-box;
  flex-basis: 51%;
  display: flex;
  flex-direction: column; }

.heading-2,
.radio,
.heading-3,
.text {
  flex-grow: 1;
  height: 5rem;
  box-sizing: border-box; }

.heading-2,
.heading-3 {
  padding-top: 2rem; }

.input-radio,
.input-checkbox {
  display: none; }

.radio label::before {
  width: 3rem;
  height: 3rem;
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #f2f2f2;
  float: left; }

.input-radio:checked + label:before {
  width: 3rem;
  height: 3rem;
  display: block;
  box-sizing: border-box;
  background-color: #000000;
  border: 1rem solid #f2f2f2; }

.radio label p {
  padding-left: 4rem;
  font-weight: bold; }

.text label {
  width: 5rem;
  height: 2rem;
  padding-top: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.8rem; }

.text .narrow {
  width: 3rem; }

.input-text {
  width: 23vw; }
  @media screen and (max-width: 270px) {
    .input-text {
      width: 55vw; } }

.input-name {
  width: 26vw; }

.input-text,
.input-phone,
.input-email {
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  height: 3rem; }

::placeholder {
  color: #000000;
  opacity: 1; }

.input-text,
.input-phone,
.input-email,
.text-describe {
  font-family: 'PT Sans', sans-serif;
  padding-left: 1rem; }

/*row-2*/
.stripe,
.heading-4 {
  flex-basis: 32%;
  box-sizing: border-box;
  height: 5rem; }

.sights-heading {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between; }
  .sights-heading .for-sights {
    flex-basis: 30%; }
  .sights-heading .sights {
    flex-basis: 34%; }

.heading-4 {
  margin: 0 1vw;
  font-size: 1rem;
  padding-top: 2rem; }

.sights {
  padding-top: 1rem;
  margin: 0; }
  @media screen and (max-width: 270px) {
    .sights {
      font-size: 0.9rem; } }

.stripe::before {
  width: 100%;
  height: 0.15rem;
  content: "";
  background-color: #f2f2f2;
  display: block;
  position: relative;
  top: 50%; }

/* row-3, phone & mail */
.phone, .mail {
  flex-basis: 50%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap; }
  .phone .error, .mail .error {
    flex-basis: 100%;
    margin: 0;
    font-size: 0.7rem;
    color: #cc0000;
    text-align: left;
    text-transform: none;
    padding-left: 6rem; }
  .phone label, .mail label {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .phone label span, .mail label span {
      flex-basis: 15%; }

.mail {
  padding-top: 2rem; }
  .mail label {
    text-transform: uppercase;
    font-size: 0.8rem;
    flex-basis: 100%; }
    .mail label .input-email {
      width: 14vw; }
    .mail label span {
      flex-basis: 37%; }

.phone-logo::after,
.mail-logo::after {
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  content: "";
  background-color: #f2f2f2;
  display: block;
  margin-left: 0;
  background-image: url(img/phone.png);
  border-radius: 0.2rem; }

.mail::after {
  background-image: url(img/mail.png); }

.required::after {
  content: '*'; }

/* row-4  checkbox*/
.row-4 {
  display: flex;
  flex-basis: 100%; }
  .row-4 .checkbox {
    flex-basis: 25%;
    box-sizing: border-box; }
    .row-4 .checkbox label p {
      padding-left: 1rem;
      font-weight: bold; }

.checkbox label:before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-color: #f2f2f2;
  display: block;
  border-radius: 0.3rem;
  margin: 0; }

.checkbox label {
  display: block;
  margin-top: 1rem;
  display: flex; }

.input-checkbox:checked + label:before {
  background-image: url(img/tick.png);
  background-position: center;
  background-repeat: no-repeat; }

/* textarea */
.textarea {
  flex-basis: 100%; }

.text-describe {
  width: 97%;
  height: 5rem;
  background-color: #f2f2f2;
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  color: #000000;
  padding-top: 1rem;
  font-family: Arial;
  font-size: 13px; }

/* row-5 button*/
.row-5 {
  display: flex;
  flex-basis: 100%; }
  .row-5 div {
    width: 50%;
    height: 10rem; }

.button-review {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 4rem;
  background-color: #90b2d0;
  color: #ffffff;
  margin-top: 3rem;
  padding: 0;
  border: none; }

.obligatory-field {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-align: right;
  box-sizing: border-box;
  position: relative;
  top: 4.5rem;
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal; }

/* footer */
.footer {
  display: flex;
  flex-basis: 100%; }
  .footer .links {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer .academy {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.visit,
.links,
.academy {
  flex-basis: 33.33333%;
  height: 5rem; }

.visit p {
  text-transform: uppercase;
  text-align: left;
  position: relative;
  top: 2rem;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem; }

.academy p {
  display: flex;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  top: 2rem;
  margin: 0;
  font-size: 0.9rem;
  text-align: right;
  position: static; }

.twitter {
  background-color: #90b2d0;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-twitter.png); }

.facebook {
  background-color: #90b2d0;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-facebook.png);
  margin: 0 1vw; }

.youtube {
  background-color: #90b2d0;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/icon-youtube.png); }

.academy-logo::after {
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  content: "";
  background-image: url(img/htmlacademy.png);
  display: block;
  box-sizing: border-box; }

/* menu */
.menu {
  display: flex;
  flex-wrap: wrap; }
  .menu .item {
    flex-grow: 1;
    width: 20%;
    height: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-weight: normal;
    background-color: #ffffff;
    padding-top: 1rem;
    box-sizing: border-box; }
    .menu .item .subitem {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-weight: normal;
      display: none; }
      .menu .item .subitem div {
        background-color: #ffffff;
        height: 3rem;
        padding-top: 1rem; }
  .menu .item-3 {
    padding-top: 0; }

.item:hover .subitem {
  display: block;
  position: absolute;
  z-index: 1;
  width: 18%; }

.heading-text {
  width: auto;
  color: #ffffff;
  font-size: 5em;
  font-weight: 800;
  height: 360px;
  padding-top: 7rem;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/header.png);
  background-position: bottom; }

.item a:hover,
.subitem div a:hover {
  color: #90b1d0;
  cursor: pointer; }

.item a:active {
  color: #b2b2b2; }

.subitem div a:active {
  color: #d4d0cd; }

/* hover, active */
.checkbox label:hover:before,
.input-checkbox:checked + label:hover:before,
.input-phone:hover,
.input-email:hover,
.input-text:hover,
.radio label:hover::before,
.text-describe:hover {
  background-color: #e4e4e4; }

.radio label:active:before,
.checkbox label:active:before {
  background-color: #d4d4d4; }

.input-checkbox:checked + label:active:before {
  background-color: #d4d4d4;
  background-image: url(img/tick-active.png); }

.input-radio:checked + label:hover:before {
  border: 1rem solid #e4e4e4;
  background-color: #000000; }

.input-radio:checked + label:active:before {
  background-color: #a4a4a4;
  border: 1rem solid #d4d4d4; }

.input-phone:focus,
.input-text:focus,
.input-email:focus {
  background-color: #ffffff;
  outline: #e4e4e4 solid 0.3rem; }

.text-describe:focus {
  outline: #e4e4e4 solid 0.3rem;
  background-color: #ffffff; }

.academy-logo:hover::after {
  background-image: url(img/academy-hover.png); }

.twitter:hover,
.facebook:hover,
.youtube:hover,
.button-review:hover {
  background-color: #799cbd;
  cursor: pointer; }

.twitter:active,
.facebook:active,
.youtube:active,
.button-review:active {
  background-color: #6c94ba; }

.twitter:active {
  background-image: url(img/twitter-active.png); }

.facebook:active {
  background-image: url(img/facebook-active.png); }

.youtube:active {
  background-image: url(img/youtube-active.png); }

.button-review:active {
  color: #98b4cf;
  cursor: pointer; }

.academy-logo:active::after {
  background-image: url(img/academy-active.png); }

@media screen and (min-width: 481px) and (max-width: 970px) {
  body .wrapper {
    width: inherit;
    margin: 0;
    background-color: #ffffff; }
    body .wrapper .container {
      margin: 0;
      padding: 0 5vw; }
    body .wrapper .header {
      width: 100%;
      height: auto; }
      body .wrapper .header .heading-text {
        font-size: 4rem; }
  .menu .item {
    font-size: 0.8rem;
    font-weight: bold; }
  .menu .subitem div a {
    font-weight: bold; }
  .menu .item-3 .logo {
    display: none; }
  .item-3::before {
    content: '';
    display: block;
    background-image: url(img/logotyle-mobile.png);
    flex-basis: 100%;
    height: 5.5rem;
    background-position-y: 0%;
    background-position: center;
    background-repeat: no-repeat; }
  .present {
    padding-left: 4vw; }
  .input-text {
    width: 19vw; }
  .text label {
    font-size: 0.8rem; }
  .input-name {
    width: 23vw; }
  /* row-2 */
  .stripe {
    flex-basis: 31%; }
  .heading-4 {
    flex-basis: 33%; }
  /* phone & mail */
  .phone, .mail {
    flex-basis: 100%; }
    .phone label, .mail label {
      flex-basis: 100%; }
      .phone label span, .mail label span {
        flex-basis: 50%;
        order: -1;
        padding-bottom: 1rem; }
      .phone label .error, .mail label .error {
        text-align: right;
        padding-left: 0;
        flex-basis: 41%;
        padding-bottom: 1rem; }
  .mail {
    flex-basis: 100%; }
    .mail label {
      flex-basis: 100%; }
      .mail label .input-email {
        width: 73vw; }
  .input-phone {
    width: 73vw; }
  .row-4 {
    flex-wrap: wrap;
    justify-content: space-around; }
    .row-4 .checkbox {
      flex-basis: 40%; }
  .radio label,
  .checkbox label {
    font-weight: bold; } }

@media screen and (max-width: 480px) {
  body .wrapper {
    width: inherit;
    margin: 0;
    background-color: #ffffff; }
    body .wrapper .container {
      margin: 0; }
    body .wrapper .header {
      width: 100%;
      height: auto; }
      body .wrapper .header .heading-text {
        font-size: 3rem;
        height: 190px;
        padding-top: 3rem;
        height: 160px; }
  .heading-1 {
    order: -1; }
    .heading-1 .main {
      font-size: 1rem; }
  .present {
    flex-basis: 100%;
    padding-left: 0;
    padding: 0 9vw;
    border-top: 0.15rem solid #f2f2f2;
    order: -1;
    margin-top: 1rem; }
  .input-text {
    width: 48vw;
    font-size: 1rem; }
  .input-name {
    width: 55vw;
    font-size: 1rem; }
  .impression {
    flex-basis: 100%;
    border: none;
    padding: 0 9vw;
    border-top: 0.15rem solid #f2f2f2;
    margin-top: 1rem;
    border-bottom: 0.15rem solid #f2f2f2; }
  .stripe {
    display: none; }
  .contact-information {
    order: -1; }
  .heading-4 {
    flex-basis: 100%;
    border-top: 0.15rem solid #f2f2f2; }
  /* row-3 */
  .phone, .mail {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 9vw;
    height: 7rem;
    flex-basis: 100%;
    order: -1; }
    .phone label, .mail label {
      flex-basis: 100%; }
      .phone label span, .mail label span {
        flex-basis: 40%;
        padding-left: 1rem;
        padding-bottom: 1rem; }
    .phone .error, .mail .error {
      flex-basis: 100%;
      font-size: 0.8rem;
      order: 1;
      padding-left: 1rem;
      padding-top: 1rem; }
  .mail label .input-email {
    width: 62vw; }
  .phone::after, .mail::after,
  .mail::after {
    display: none; }
  .input-phone,
  .input-email {
    height: 3rem;
    width: 62vw;
    font-size: 1rem; }
  .sights-heading .sights {
    padding-left: 8vw;
    margin-top: 2rem;
    border-top: none;
    flex-basis: 83%; }
  .row-4 {
    flex-direction: column; }
    .row-4 .checkbox {
      flex-basis: 100%;
      padding-left: 9vw;
      padding-bottom: 3vw; }
  .textarea {
    padding: 0 9vw; }
  .radio label,
  .checkbox label {
    font-weight: bold; }
  .textarea .text-describe {
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.5;
    height: 7rem; }
  /* row-5 */
  .row-5 {
    flex-direction: column; }
    .row-5 .button {
      flex-basis: 100%;
      padding-left: 9vw; }
    .row-5 .obligatory {
      display: none; }
  .button-review {
    width: 81vw;
    height: 3.5rem;
    font-size: 1rem; }
  /* footer */
  .footer {
    flex-direction: column;
    height: 15rem; }
    .footer .visit,
    .footer .links,
    .footer .academy {
      flex-basis: 100%; }
    .footer .visit p {
      text-align: center; }
    .footer .academy {
      justify-content: center; }
  .links .twitter,
  .links .facebook,
  .links .youtube {
    width: 3rem;
    height: 3rem; }
  /* menu */
  .menu .item:hover:not(.item-3) {
    background-color: #799dbd; }
  .menu .item {
    display: none; }
  .menu .visible {
    display: block;
    flex-basis: 100%;
    background-color: #81b3d2;
    color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
    border-top: 0.05rem solid #9ac2db;
    border-bottom: 0.05rem solid #678fa8;
    padding-top: 1.2rem;
    height: 3.5rem;
    font-weight: bold; }
  .menu .item-3 {
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    order: 1; }
    .menu .item-3 .logo {
      display: none; }
    .menu .item-3 .icon-menu {
      display: block;
      position: absolute;
      height: 1.5rem;
      padding-top: 0.7rem;
      padding-right: 0.5rem; }
  .item-3::before {
    content: '';
    display: block;
    background-image: url(img/logotyle-mobile.png);
    flex-basis: 100%;
    height: 5.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%; }
  .item:active:not(.item-3) {
    background-color: #6c95ba;
    color: #98b5cf; }
  .item:hover .subitem {
    display: none; } }

@media screen and (max-width: 270px) {
  .present .text label {
    margin-right: 3rem; } }

@media screen and (max-width: 270px) {
  .input-text {
    width: 55vw; } }

