@mixin text-upper-centered {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

@mixin footer-texts {
	text-transform: uppercase;
	text-align: left;
	position: relative;
	top: 2rem;
	margin: 0;
}

@mixin footer-links {
	background-color: $background-button;
	width: 2rem;
	height: 2rem;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin background-centered {
	background-position: center;
	background-repeat: no-repeat;
}

@mixin size ($width, $height) {
	width: $width;
	height: $height;
}

@mixin textarea-font {
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
}

$font-reduced: 0.8rem;

/* colors */

$white: #ffffff;
$grey: #f2f2f2;
$black: #000000;
$red-text: #cc0000;
$background-button: #90b2d0;
$blue-hover: #90b1d0;
$item-active: #b2b2b2;
$subitem-active: #d4d0cd;
$input-hover: #e4e4e4;
$input-active: #d4d4d4;
$radio-checked: #a4a4a4;
$footer-hover: #799cbd;
$footer-active: #6c94ba;
$button-active: #98b4cf;
$mobile-menu-border-top: #9ac2db;
$mobile-menu-border-bottom: #678fa8;
$mobile-menu-item-background: #81b3d2;
$mobile-menu-hover-background: #799dbd;
$mobile-menu-active-background: #6c95ba;
$mobile-menu-active-text: #98b5cf;

/* images */

$background-header: url('img/header.png');
$logo-phone: url('img/phone.png');
$logo-mail: url('img/mail.png');
$checkbox-tick: url('img/tick.png');
$checkbox-tick-active: url("img/tick-active.png");
$icon-facebook: url("img/icon-facebook.png");
$icon-facebook-active: url("img/facebook-active.png");
$icon-twitter: url("img/icon-twitter.png");
$icon-twitter-active: url("img/twitter-active.png");
$icon-youtube: url("img/icon-youtube.png");
$icon-youtube-active: url("img/youtube-active.png");
$icon-htmlacademy: url('img/htmlacademy.png');
$icon-htmlacademy-hover: url('img/academy-hover.png');
$icon-htmlacademy-active: url('img/academy-active.png');
$logo-mobile: url('img/logotyle-mobile.png');