@import 'attributes.scss';

body {
	background-color: $grey;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;

	.wrapper {
		width: 90%;
		margin: 0 auto;
		background-color: $white;

		.container {
			margin: 0 7rem;
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.header {
	height: auto;
}

[class^="heading"] {
	@include text;
}

.logo {
	display: block;
	position: relative;
	left: 12%;
	z-index: 2;
}

.icon-menu {
	display: none;
}

.heading-1 {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;

	.main {
		width: 100%;
		margin-top: 0;
		padding-top: 2.5rem;
		font-size: 2rem;
	}

	.secondary {
		width: 100%;
		font-weight: normal;
		margin: 0;
		line-height: 2;
		font-size: $reduced;
	}
}

.impression {
	flex-basis: 49%;
	display: flex;
	flex-direction: column;
	border-right: 0.15rem solid $grey;
	box-sizing: border-box;
}

.present {
	padding-left: 5vw;
	-ms-padding-left: 2vw;
	box-sizing: border-box;
	flex-basis: 51%;
	display: flex;
	flex-direction: column;
}

.heading-2,
.radio,
.heading-3,
.text {
	flex-grow: 1;
	height: 5rem;
	box-sizing: border-box;
}

.heading-2,
.heading-3 {
	padding-top: 2rem;
}

.input-radio,
.input-checkbox {
	display: none;
}

.radio label::before {
	@include size (3rem, 3rem);
	content: "";
	display: block;
	border-radius: 50%;
	background-color: $grey;
	float: left;
}

.input-radio:checked+label:before {
	@include size (3rem, 3rem);
	display: block;
	box-sizing: border-box;
	background-color: $black;
	border: 1rem solid $grey;
}

.radio label p {
	padding-left: 4rem;
	font-weight: bold;
}

.text label {
	@include size (5rem, 2rem);
	padding-top: 1rem;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: $reduced;
}

.text .narrow {
	width: 3rem;
}

.input-text {
	width: 23vw;

	@media screen and (max-width: 270px) {
		width: 55vw;
	}
}

.input-name {
	width: 26vw;
}

.input-text,
.input-phone,
.input-email {
	font-weight: bold;
	background-color: $grey;
	border: none;
	height: 3rem;
}

::placeholder {
	color: $black;
	opacity: 1;
}

.input-text,
.input-phone,
.input-email,
.text-describe {
	font-family: 'PT Sans', sans-serif;
	padding-left: 1rem;
}

/*row-2*/

.stripe,
.heading-4 {
	flex-basis: 32%;
	box-sizing: border-box;
	height: 5rem;
}

.sights-heading {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;

	.for-sights {
		flex-basis: 30%;
	}

	.sights {
		flex-basis: 34%;
	}

}

.heading-4 {
	margin: 0 1vw;
	font-size: 1rem;
	padding-top: 2rem;
}

.sights {
	padding-top: 1rem;
	margin: 0;

	@media screen and (max-width: 270px) {
		font-size: 0.9rem;
	}
}

.stripe::before {
	@include size (100%, 0.15rem);
	content: "";
	background-color: $grey;
	display: block;
	position: relative;
	top: 50%;
}

/* row-3, phone & mail */

.phone {
	flex-basis: 50%;
	box-sizing: border-box;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;

	.error {
		flex-basis: 100%;
		margin: 0;
		font-size: 0.7rem;
		color: $red;
		text-align: left;
		text-transform: none;
		padding-left: 6rem;
	}

	label {
		text-transform: uppercase;
		font-size: $reduced;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		span {
			flex-basis: 15%;

		}
	}
}

.mail {
	@extend .phone;
	padding-top: 2rem;

	label {
		text-transform: uppercase;
		font-size: $reduced;
		flex-basis: 100%;

		.input-email {
			width: 14vw;
		}

		span {
			flex-basis: 37%;
		}
	}
}

.phone-logo::after,
.mail-logo::after {
	@include background;
	@include size (3rem, 3rem);
	content: "";
	background-color: $grey;
	display: block;
	margin-left: 0;
	background-image: $phone-logo;
	border-radius: 0.2rem;
}

.mail::after {
	background-image: $mail-logo;
}

.required::after {
	content: '*';
}

/* row-4  checkbox*/

.row-4 {
	display: flex;
	flex-basis: 100%;

	.checkbox {
		flex-basis: 25%;
		box-sizing: border-box;

		label p {
			padding-left: 1rem;
			font-weight: bold;
		}
	}
}

.checkbox label:before {
	content: "";
	@include size (3rem, 3rem);
	background-color: $grey;
	display: block;
	border-radius: 0.3rem;
	margin: 0;
}

.checkbox label {
	display: block;
	margin-top: 1rem;
	display: flex;
}

.input-checkbox:checked+label:before {
	background-image: $tick;
	@include background;
}

/* textarea */

.textarea {
	flex-basis: 100%;
}

.text-describe {
	width: 97%;
	height: 5rem;
	background-color: $grey;
	border: none;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	color: $black;
	padding-top: 1rem;
	font-family: Arial;
	font-size: 13px;
}

/* row-5 button*/

.row-5 {
	display: flex;
	flex-basis: 100%;

	div {
		@include size (50%, 10rem);
	}
}

.button-review {
	@include text;
	@include size (100%, 4rem);
	background-color: $button;
	color: $white;
	margin-top: 3rem;
	padding: 0;
	border: none;
}

.obligatory-field {
	@include text;
	text-align: right;
	box-sizing: border-box;
	position: relative;
	top: 4.5rem;
	margin: 0;
	font-size: 0.9rem;
	font-weight: normal;
}

/* footer */

.footer {
	display: flex;
	flex-basis: 100%;

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.academy {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.visit,
.links,
.academy {
	flex-basis: (100%/3);
	height: 5rem;
}

.visit p {
	@include footer-texts;
	font-weight: bold;
	font-size: 1.2rem;
}

.academy p {
	display: flex;
	@include footer-texts;
	font-size: 0.9rem;
	text-align: right;
	position: static;
}

.twitter {
	@include footer-links;
	background-image: $icon-twitter;
}

.facebook {
	@include footer-links;
	background-image: $icon-facebook;
	margin: 0 1vw;
}

.youtube {
	@include footer-links;
	background-image: $icon-youtube;
}

.academy-logo::after {
	@include background;
	@include size (2rem, 2rem);
	content: "";
	background-image: $icon-htmlacademy;
	display: block;
	box-sizing: border-box;
}

/* menu */

.menu {
	display: flex;
	flex-wrap: wrap;

	.item {
		flex-grow: 1;
		@include size (20%, 3rem);
		@include text;
		font-weight: normal;
		background-color: $white;
		padding-top: 1rem;
		box-sizing: border-box;

		.subitem {

			@include text;
			font-weight: normal;
			display: none;

			div {
				background-color: $white;
				height: 3rem;
				padding-top: 1rem;
			}
		}
	}
	.item-3 {
		padding-top: 0;
	}

}

.item:hover .subitem {
	display: block;
	position: absolute;
	z-index: 1;
	width: 18%;
}

.heading-text {
	width: auto;
	color: $white;
	font-size: 5em;
	font-weight: 800;
	height: 360px;
	padding-top: 7rem;
	box-sizing: border-box;
	@include background;
	background-image: $header-background;
	background-position: bottom;
}

.item a:hover,
.subitem div a:hover {
	color: $blue-hover;
	cursor: pointer;
}

.item a:active {
	color: $active;
}

.subitem div a:active {
	color: $subitem-active;
}

/* hover, active */

.checkbox label:hover:before,
.input-checkbox:checked+label:hover:before,
.input-phone:hover,
.input-email:hover,
.input-text:hover,
.radio label:hover::before,
.text-describe:hover {
	background-color: $input-hover;
}

.radio label:active:before,
.checkbox label:active:before {
	background-color: $input-active;
}

.input-checkbox:checked+label:active:before {
	background-color: $input-active;
	background-image: $tick-active;
}

.input-radio:checked+label:hover:before {
	border: 1rem solid $input-hover;
	background-color: $black;
}

.input-radio:checked+label:active:before {
	background-color: $radio-checked;
	border: 1rem solid $input-active;
}

.input-phone:focus,
.input-text:focus,
.input-email:focus {
	background-color: $white;
	outline: $input-hover solid 0.3rem;
}

.text-describe:focus {
	outline: $input-hover solid 0.3rem;
	background-color: $white;
}

.academy-logo:hover::after {
	background-image: $icon-htmlacademy-hover;
}

.twitter:hover,
.facebook:hover,
.youtube:hover,
.button-review:hover {
	background-color: $footer-hover;
	cursor: pointer;
}

.twitter:active,
.facebook:active,
.youtube:active,
.button-review:active {
	background-color: $footer-active;
}

.twitter:active {
	background-image: $icon-twitter-active;
}

.facebook:active {
	background-image: $icon-facebook-active;
}

.youtube:active {
	background-image: $icon-youtube-active;
}

.button-review:active {
	color: $button-active;
	cursor: pointer;
}

.academy-logo:active::after {
	background-image: $icon-htmlacademy-active;
}

@import 'style970';
@import 'style480';
@import 'style270';

.input-text {
	@media screen and (max-width: 270px) {
		width: 55vw;
	}
}
